/* Nav button position */
.nav__button {
    position: absolute;
    top: 180px;
    right: -20px;
    cursor: pointer;
}

.nav__button {
    --button-color: #fff;
    --transition-speed: 500ms;
    width: 38px;
    height: 38px;
    /* background: transparent; */
    /* border: 1px solid var(--button-color, #000); */
    border-radius: 50%;
    line-height: 50%;
    text-align: center;
    padding: 2px 0 2px 2px;
    background: linear-gradient(90deg, transparent 50%, rgba(10, 10, 10, .05) 50%);
    transition: background-color var(--transition-speed) ease;
}

.nav__button[aria-expanded="true"] {
    /* --button-color: white; */
    /* background-color: darkgray; */
}

.line {
    transition: var(--transition-speed);
    translate: -12px 13px;
    stroke-dasharray: 113 0 0 1100;
    transform-origin: center;
}

[aria-expanded="true"] .line {
    translate: 13px 13px;
    stroke-dasharray: 0 195 113 1000;
}

body[dark-mode='true'] .nav__button {
    background: linear-gradient(90deg, transparent 50%, rgba(10, 10, 10, .65) 50%);
}