.nav {
    padding: 0 2em;
}

.nav_title {
    color: var(--font-secondary-color);
    margin: 0;
    pointer-events: none;
    opacity: 0;
}

.nav[aria-expanded='true'] .nav_title {
    margin: 2em 0 1em;
    opacity: 1;
    transition: var(--transition-speed);
    transition-delay: var(--transition-delay);
}

.nav ul {
    list-style: none;
}

.nav_items {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 4px;
    width: 100%;
    height: 56px;
    padding: 0 .75em;
    color: var(--font-primary-color);
    margin: .5em 0;
    transition: background 1s;
}

.nav_items.active {
    background-color: var(--primary-light-color);
}

.nav_items:hover {
    background-color: rgba(255, 255, 255, .1);
}

.nav_items i {
    font-size: 2rem;
}

.nav_items span {
    font-size: 1rem;
    margin-left: -1em;
    pointer-events: none;
    opacity: 0;
    transition: var(--transition-speed) ease;
    transition-delay: var(--transition-delay);
    overflow: hidden;
}

.nav[aria-expanded='true'] .nav_items span {
    margin-left: .5em;
    opacity: 1;
}

.nav hr {
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 3px;
    margin: 2em 0 1em;
    opacity: 0;
    transition: var(--transition-speed);
}

.nav[aria-expanded='true'] hr {
    opacity: 1;
}


.nav_items.active {
    background-color: var(--primary-light-color);
}
/* 
@media (prefers-color-scheme: dark) {
    .nav_items.active {
        background-color: var(--primary-dark-color);
    }
} */

body[dark-mode='true'] .nav_items.active {
    background-color: var(--primary-dark-color);
}